p {
    margin: 0 !important;
    padding: 0 !important;
}

body {
    background-color: #000000;
    font-family: 'Courier New', Courier, monospace;
    color: #00ff00;
    margin: 8px;
    padding-bottom: 50px;
}

.line {
    width: calc(100vw - 16px);
    height: 2px;
    margin-bottom: 20px;
    background-color: #00ff00;
}

#output {
    margin-bottom: 10px;
}

#output p {
    line-height: 1.4;
    white-space: pre-wrap;
    margin: 0;
    padding: 0;
}

.input-line {
    display: flex;
    align-items: center;
}

.prompt {
    margin-right: 10px;
    white-space: nowrap;
}

input {
    background-color: transparent;
    border: none;
    font-family: inherit;
    font-size: inherit;
    outline: none;
    flex-grow: 1;
    color: rgb(0, 255, 0);
}
.ascii-container {
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    padding: 20px 0;
    margin-bottom: 10px;
}

.ascii-art {
    font-family: 'Courier New', Courier, monospace !important;
    line-height: 1.2;
    color: #00ff66;
    margin: 0 auto;
    white-space: pre;
    font-size: clamp(3px, 0.7vw, 11px); 
}

@media (min-width: 1600px) {
    .ascii-art {
        font-size: 11px;
    }
}
